@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto";
}

html {
  margin: 0 auto;
}

h1, h2 {
  font-size: 10pt;
  margin: 0;
  font-weight: normal;
}

li {
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

a {
  text-decoration: auto;
  color: #000;
}

.fa-regular, .far {
  font-weight: 600 !important;
}

/* Animation au survol du bouton "Explorez nos restaurants" (Effet rideau inversé) */
@keyframes colors-palette {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Animation au survol des Coeurs (Effet vague) */
/* --> Remplissage du coeur */
@keyframes fillHeart {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
/* --> Effet vague */
/* Animation au survol des Images (très léger zoom) */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes reveal-in {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
@keyframes reveal-out {
  from {
    justify-content: center;
    width: 80px;
  }
  to {
    width: 0;
  }
}
@keyframes turn-in {
  from {
    transform-origin: center;
    transform: rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: rotate(780deg);
  }
}
@keyframes majax {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showsections {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Footer */
footer {
  display: flex;
  box-sizing: border-box;
  padding-top: 10px;
  background: #F8F8F8;
}
footer div {
  width: 100%;
  padding: 30px;
  background: rgb(60, 60, 60);
}
footer div > h2 {
  font-family: "Shrikhand";
  font-size: 1.2em;
  color: #fff;
  margin: 15px 0;
  margin-block-start: 5px;
}
footer ul {
  padding-inline-start: 0;
  margin-block-end: 0;
}
footer ul li a {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6em;
  color: #f1f1f1;
}
footer ul li a i {
  margin-right: 1em;
  font-size: 0.8em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > h1 {
  position: relative;
  width: 100%;
  padding: 15px 0;
  font-family: "Shrikhand";
  font-size: 2em;
  box-shadow: 0 0 5px rgb(140, 140, 140);
  text-align: center;
}
header > div.location {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px 0;
  background-color: #E8E8E8;
}
header > div.location > button {
  display: none;
  cursor: pointer;
}
header > div.location > i {
  font-size: 1.2em;
  align-self: center;
}
header > div.location input {
  align-self: center;
  font-weight: 700;
  font-size: 1em;
  margin-left: 10px;
  outline: 0;
  border: none;
  background: transparent;
  transition: 0.3s;
  width: 110px;
}
header > div.location input:hover {
  cursor: pointer;
}
header > div.location input:focus {
  padding: 5px 8px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  width: 50%;
}
header > div.location input:focus ~ .search {
  /* Permet de réaliser une action sur élément frère.. ici le bouton */
  display: block;
}

main {
  display: flex;
  flex-direction: column;
}
main:not(.restau) section {
  visibility: hidden;
  /* Délai d'exécution : 0.5s + 0.5s + 3s + 1s = 5s ==> On a ainsi l'assurance que cette animation-là, s'exécutera après toutes les autres (système D peut-être ?) */
  animation: showsections 1s linear 5s;
  animation-fill-mode: forwards;
}
main > i {
  position: absolute;
  display: flex !important;
  /* Contre-carrer la définition initiale de fontawesome */
  align-items: center;
  /* Centrage vertical */
  justify-content: center;
  /* Centrage horizontal */
  width: 120px;
  /* Avoir une largeur précise et suffisante, facilite la définition de l'attribut left */
  height: 120px;
  font-size: 15vw;
  left: calc(50% - 60px);
  /* Si on utilise le transform: translate, l'animation est décalée en X. */
  top: 50%;
  opacity: 0;
  /* Pour le test de positionnement (uniquement)
  /* On se rend compte ici qu'en utilisant transform: translateX(-50%), l'animation est décalée vers la droite.. */
  /* animation: turn-in 3s infinite linear 1s; */
  /* Succession de fonctions d'animation, les unes après les autres */
  animation: opacity 0.5s linear 0.5s, turn-in 3s infinite linear 1s, majax 1s linear 4s;
  /* Conserver le dernier état sur la timeline de l'animation, sinon on revient à l'affichage de départ (=> backwards) */
  animation-fill-mode: forwards;
}

/* Section : Réservation */
section.reservation {
  text-align: center;
  padding: 40px 0;
  background: #F5F5F5;
}
section.reservation > h2 {
  padding: 0 60px;
}

section.fonctionnement, section.restaurants {
  padding: 55px 20px;
}
section.fonctionnement > h2, section.restaurants > h2 {
  margin-bottom: 25px;
}

/* Section : Restaurant */
section.restaurants {
  background: #F8F8F8;
}

button {
  position: relative;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
button > a {
  position: relative;
  /* Permet de conserver le texte du bouton au premier plan */
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 100;
  color: #ffffff;
}
button span {
  position: absolute;
}
button.btn-pink:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.95);
}

/* Sections {communs} */
section {
  visibility: hidden;
}
section > h2 {
  font-size: 1.4em;
  font-weight: 900;
  text-shadow: 1px 0 0 black;
  letter-spacing: 0.05rem;
}
section > h3 {
  margin-block-start: 11px;
  margin-block-end: 11px;
  font-weight: normal;
  font-size: 1.2em;
}

/* Miniatures d'images */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.fBlock {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
}
.fBlock:last-child {
  margin-bottom: 20px;
}
.fBlock > h3 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: 15px;
  border-radius: 20px;
  background: #F8F8F8;
  box-shadow: 1px 1px 10px lightgrey;
  font-size: 0.9em;
  cursor: pointer;
}
.fBlock > h3 > a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translate(-35px, -50%);
  padding: 16px 14px 12px 14px;
  border-radius: 50%;
  background: #9356DC;
  color: #fff;
  width: 6px;
  height: 6px;
  border: 1px solid;
  font-size: 0.8em;
  font-weight: 100;
}
.fBlock > h3:hover {
  background: rgba(224, 176, 255, 0.25);
  box-shadow: 1px 1px 10px rgb(160, 160, 160);
}
.fBlock > h3:hover > i {
  color: #9356DC;
}
.fBlock i {
  width: 40px;
  text-align: center;
  font-size: 1.2em;
  color: dimgray;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.cards a.card {
  position: relative;
  width: 100%;
}
.cards a.card > .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgrey;
  overflow: hidden;
}
.cards a.card > .wrapper img {
  object-fit: cover;
  height: 100%;
  cursor: pointer;
}
.cards a.card > .wrapper img.o-paysage {
  object-position: 50% -60px;
}
.cards a.card > .wrapper img.o-portrait {
  object-position: 50% -155px;
}
.cards a.card > .wrapper img.pulse:hover {
  animation: pulse 1s linear;
}
.cards a.card > .wrapper > h3 {
  position: absolute;
  padding: 8px 12px;
  border-radius: 3px;
  background: #99E2D0;
  color: rgb(56, 110, 56);
  font-size: 0.9em;
  right: 15px;
  cursor: none;
}

.informations {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 10px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 10px lightgrey;
  overflow: hidden;
}
.informations > .info h2, .informations > .info h3 {
  font-size: 1.1em;
  color: #000;
  cursor: pointer;
}
.informations > .info h2:hover, .informations > .info h3:hover {
  text-decoration: underline;
}
.informations > .info > h2 {
  font-weight: 900;
  text-shadow: 0 0 0.5px dimgrey;
  text-overflow: ellipsis;
  overflow-x: clip;
}
.informations > .info > h3 {
  font-weight: 100;
  margin: 5px 0 0 0;
}

.heart {
  position: relative;
  align-self: center;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
}
.heart svg {
  position: absolute;
  transform-origin: bottom;
  width: 100%;
}
.heart svg.first {
  height: 100%;
  fill: transparent;
  z-index: 10;
}
.heart svg.first:hover ~ .second {
  animation: fillHeart 0.5s linear;
  animation-fill-mode: forwards;
}
.heart svg.second {
  bottom: 0;
  left: 0;
  z-index: 5;
  transition: height 0.3s ease-in-out;
  height: 0%;
}
.heart svg.second:hover {
  animation: fillHeart 0.5s linear;
  animation-fill-mode: forwards;
}
.my-shape {
  stroke-width: 0;
  stroke: white;
}

.heart svg path.my-shape {
  stroke-linejoin: round;
  stroke: black;
  stroke-width: 20;
}
.heart svg path.my-fill {
  fill: url(#Gradient1);
}

@media screen and (min-width: 360px) {
  .container .fBlock h3 {
    font-size: 1em;
    padding: 25px;
  }

  button > a {
    font-size: 1.15em;
  }
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: column;
    align-content: center;
  }
  .container .fBlock {
    width: 290px;
  }

  .cards {
    flex-direction: row;
  }
  .cards a.card {
    width: calc((100% - 20px) / 2);
  }

  header > h1 {
    font-size: 3.5em;
  }

  header.restau > div:first-child > a i {
    font-size: 2em;
  }
  header.restau > div:first-child h1 {
    font-size: 3em;
  }

  main:not(.restau) section > h2 {
    text-align: center;
  }
  main.restau > .container {
    justify-content: space-between;
  }
  main.restau > .container section {
    width: calc((100% - 30px) / 2);
  }
  main.restau > .container section > h2 {
    align-self: center;
  }
  main.restau > button > a {
    font-size: 1.3em;
  }

  footer {
    text-align: center;
  }
  footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  footer ul span {
    display: none;
  }
  footer .fa-solid {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 992px) {
  header > h1 {
    font-size: 5em;
  }
  header input {
    width: 30%;
  }

  header.restau > div:first-child > a i {
    font-size: 3em;
  }
  header.restau > div:first-child h1 {
    font-size: 5em;
  }

  .container {
    flex-direction: row;
    align-content: flex-start;
  }

  main > button > a {
    font-size: 1.3em;
  }

  main.restau > .container section {
    width: calc((100% - 40px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .cards a.card {
    width: calc((100% - 60px) / 4);
  }
}
header.restau > div:first-child {
  position: relative;
  display: flex;
  width: 100%;
  box-shadow: 0 0 5px rgb(140, 140, 140);
}
header.restau > div:first-child > a {
  position: absolute;
  left: 2%;
  align-self: center;
}
header.restau > div:first-child i {
  font-size: 1.5em;
  text-shadow: 0 0 2px black;
}
header.restau > div:first-child i:hover {
  color: #9356DC;
}
header.restau h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Shrikhand";
  font-size: 2em;
  padding: 15px 0;
}
header.restau > .wrapper {
  position: relative;
  max-height: 275px;
  overflow: hidden;
}
header.restau > .wrapper > img {
  width: 100%;
  object-fit: cover;
  object-position: 0 -300px;
  object-position: 50% 50%;
}
header.restau > .wrapper > .title {
  position: absolute;
  display: flex;
  align-self: normal;
  padding: 30px 15px;
  padding-bottom: 0;
  border-radius: 35px 35px 0 0;
  background: #F8F8F8;
  width: 100%;
  bottom: 0;
}
header.restau > .wrapper > .title > h2 {
  font-family: "Shrikhand";
  font-size: 1.5em;
  width: 100%;
}
header.restau > .wrapper > .title > h2:first-letter {
  text-transform: uppercase;
}
header.restau > .wrapper > .title > .heart {
  height: 25px;
}

main.restau {
  padding: 40px 0 60px 0;
  background: #F8F8F8;
}
main.restau .container {
  gap: 20px;
}
main.restau section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding: 15px;
  padding-top: 0;
  flex: auto;
  visibility: visible;
  /* Affichage progressif des "cadres" en jouant sur l'opacité */
  /* Pour chaque <section> */
  /* Pour chaque <section> */
  /* Pour chaque <section> */
  /* Pour chaque <section> */
}
main.restau section > h2 {
  font-size: 1em;
  font-weight: normal;
  text-shadow: none;
  letter-spacing: normal;
  margin-block-end: 10px;
  text-transform: uppercase;
  align-self: flex-start;
}
main.restau section span {
  position: absolute;
  width: 40px;
  background: #99E2D0;
  height: 3px;
  margin-top: 22px;
}
main.restau section > article.meals {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  background: #ffffff;
  box-shadow: 0px 1px 12px #ccc;
  cursor: pointer;
}
main.restau section > article.meals > .meal-info {
  width: 100%;
  padding: 12px 10px;
  overflow: hidden;
}
main.restau section > article.meals > .meal-info h2 {
  font-weight: bold;
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main.restau section > article.meals > .meal-info h3 {
  font-weight: 100;
  font-size: 0.9em;
  margin-block-start: 5px;
  margin-block-end: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main.restau section > article.meals > .price {
  display: flex;
  align-items: flex-end;
  padding: 12px 25px;
}
main.restau section > article.meals > .price h2 {
  font-weight: bold;
  font-size: 0.9em;
}
main.restau section > article.meals > .buy {
  display: flex;
  align-items: center;
  justify-content: unset;
  background: linear-gradient(45deg, #99E2D0, rgb(143, 223, 203), rgb(105, 223, 193));
  color: #f1f1f1;
  font-size: 1.5em;
  width: 0;
  animation: reveal-out 0.2s linear;
  animation-fill-mode: forwards;
}
main.restau section > article.meals:hover .buy {
  justify-content: center;
  animation: reveal-in 0.2s linear;
  animation-fill-mode: forwards;
}
main.restau section > article.meals:hover .buy > i {
  animation: turn-in 0.3s linear;
}
main.restau section > article.meals:hover .buy > i:before {
  color: #ffffff;
}
main.restau section:nth-child(1) {
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
}
main.restau section:nth-child(1) article.meals:nth-child(1) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 0.2s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(1) article.meals:nth-child(2) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 0.4s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(1) article.meals:nth-child(3) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 0.6s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(1) article.meals:nth-child(4) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 0.8s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(1) article.meals:nth-child(5) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 1s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(2) {
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
}
main.restau section:nth-child(2) article.meals:nth-child(1) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 1.2s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(2) article.meals:nth-child(2) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 1.4s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(2) article.meals:nth-child(3) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 1.6s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(2) article.meals:nth-child(4) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 1.8s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(2) article.meals:nth-child(5) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 2s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(3) {
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
}
main.restau section:nth-child(3) article.meals:nth-child(1) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 2.2s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(3) article.meals:nth-child(2) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 2.4s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(3) article.meals:nth-child(3) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 2.6s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(3) article.meals:nth-child(4) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 2.8s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(3) article.meals:nth-child(5) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 3s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(4) {
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
  /* Pour chaque <article> */
}
main.restau section:nth-child(4) article.meals:nth-child(1) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 3.2s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(4) article.meals:nth-child(2) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 3.4s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(4) article.meals:nth-child(3) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 3.6s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(4) article.meals:nth-child(4) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 3.8s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}
main.restau section:nth-child(4) article.meals:nth-child(5) {
  /* Réglage du moment d'exécution */
  animation: opacity 0.3s linear 4s;
  animation-fill-mode: forwards;
  /* Contrôle dans le terminal */
}

button.btn-command {
  margin: 0 auto;
  width: 200px;
  padding: 20px 30px;
}
button.btn-command:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}
button.btn-command a {
  font-size: 1.1em;
}

button.btn-pink:before,
button.btn-pink:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: colors-palette 30s linear infinite;
  background: linear-gradient(45deg, #fb0094, #5e5ecf, #00ff00, #b9b932, #ff0000, #fb0094, #5e5ecf, #00ff00, #b9b932, #ff0000);
}

button.btn-pink:after {
  filter: blur(50px);
}

header button.search {
  background: radial-gradient(ellipse at top, #fff, transparent), radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  outline: none;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
  border-left: none;
  padding: 0 15px;
  color: green;
  text-shadow: 0 0 1px green;
  font-size: 0.9em;
  box-shadow: unset;
  margin: 0;
}
header button.search:hover {
  background: radial-gradient(#e7e9ec, #d3a936);
  color: #000;
  text-shadow: 0 0 1px #000;
}

.effet-3d:hover {
  /* Utilisation : <h1 class="effet_3d">ohmyfood</h1> */
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #acacac, 0 3px 0 #a0a0a0, 0 4px 0 #9b9a9a, 0 5px 0 #888787, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.effet-gold:hover {
  position: relative;
  background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  cursor: pointer;
  /* Utilisation : <h1 class="effet-gold" data-heading="ohmyfood">ohmyfood</h1> */
}
.effet-gold:hover:after {
  content: attr(data-heading);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  position: absolute;
  text-shadow: -1px 0 1px #ccc, 0 0px 1px #ccc, 0px 6px 10px rgba(0, 0, 0, 0.8), 5px 5px 5px rgba(250, 0, 0, 0.4);
}

/*# sourceMappingURL=style.css.map */
