/* Section : Réservation */
section.reservation {
    text-align: center;
    padding: 40px 0;
    background: #F5F5F5;

    &>h2 {
        padding: 0 60px;         
    }
}

section.fonctionnement, section.restaurants {
    padding: 50px 20px;
}

/* Section : Restaurant */
section.restaurants {
    background: #F8F8F8;

    &>h2 {
        padding: 4px 0;
    }
}

button.btn-pink {
    position: relative;
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(180deg, map-get($colors, second) 0%, map-get($colors, primary) 100%);
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%);    
    margin: 15px 0;    
    transition: 0.5s;
    overflow: hidden;    
    cursor: pointer;

    &>a {
        position: relative;             /* Permet de conserver le texte du bouton au premier plan */
        margin: 0;
        font-size: 1em;
        letter-spacing: .06em;
        z-index: 100;
        color: #ffffff; 
        text-shadow: 0 0 1px #ffffff;
    }

    & span{
        position: absolute;
    }

    &:hover {
        @include box_shadow(3);
        transform: scale(.95)
    }
}

/* Sections {communs} */
section {
    &>h2 {
        margin-bottom: 25px;
        font-size: 1.2em;
        font-weight: 900;
        text-shadow: 1px 0 0 black;
        letter-spacing: .05rem;
    }

    &>h3 {
        font-weight: normal;
        font-size: 1.2em;
    }
}

/* Miniatures d'images */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.fBlock {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;

    &:last-child {
        margin-bottom: 20px;
    }

    &>h3 {
        position: relative;
        width: 100%;    
        height: 100%;
        margin: 0 10px;
        padding: 15px;
        border-radius: 20px;
        background: #F8F8F8;
        box-shadow: 1px 1px 10px lightgrey;
        font-size: 0.9em;
        cursor: pointer; 

        &>a {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 50%;
            transform: translate(-35px, -50%);   
            padding: 16px 14px 12px 14px;
            border-radius: 50%;
            background: map-get($colors, primary);
            color: #fff;
            width: 6px;
            height: 6px;     
            border: 1px solid;
            font-size: 0.8em;
            font-weight: 100;   
        }

        &:hover {
            border: 1px solid #ccc;
            background: #E6E6FA;
            color: map-get($colors, primary);

            &>i {
                color: map-get($colors, primary);
            }
        }
    }

    & i {
        width: 40px;
        text-align: center;
        font-size: 1.2em;
        color: dimgray;
    }
}

.cards {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    & div.card {
        position: relative; 
        width: 100%;
        
        &>.wrapper {      
            display: flex; 
            flex-direction: column; 
            width: 100%; 
            height: 14vh; 
            border-radius: 10px 10px 0 0;
            box-shadow: 0px 0px 8px #999;
            overflow: hidden;

            & img { 
                object-fit: cover;
                height: 100%;
                cursor: pointer;

                &.pulse:hover { 
                    animation: pulse 1s linear
                }
            }    
            
            &>h3 { 
                position: absolute;
                padding: 8px 12px;
                border-radius: 3px;
                background: map-get($colors, third);
                color: rgb(56, 110, 56);
                font-size: 0.9em;
                right: 15px;
                cursor:none;
            }
        }        
    }    
}

.informations { 
    position: relative; 
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 8px #999;
    overflow: hidden;

    &>.info {
        &>h2 { 
            font-size: 1.2em; 
            color: #000; 
            font-weight: 900;
            text-shadow: 0 0 0.5px dimgrey;
            text-overflow: ellipsis; 
            overflow-x: clip; 
            cursor: pointer;

            &:hover { 
                text-decoration: underline 
            }
        }
        &>h3 { 
            font-size: 1.1em; 
            font-weight: 100;
            color: #000; 
            margin: 5px 0 0 0;
            cursor: pointer;

            &:hover { 
                text-decoration: underline 
            }
        }
    }
}

.heart {    
    position: relative;
    align-self: center;
    height: 30px;
    width: 25px;
    margin-right: 10px;
    overflow: hidden; 
    cursor: pointer;

    &>img {
        position: relative;
        width: 100%;
        height: 100%;
        z-index:100;
        filter: drop-shadow(0 0 0 black) drop-shadow(0 0 0 black) drop-shadow(0 0 1px black);
    }

    &>.fill {
        position: absolute;
        right: -15px;
        top: 30px;
    }

    &:hover {
        img { 
            transition-delay: .8s;
            filter: none; 
        }

        .fill {            
            animation-name: fillAction;
            animation-iteration-count: 1;
            animation-timing-function: cubic-bezier(.2, .6, .8, .4);
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            mix-blend-mode: normal;
        }
    }
}
    
.waveShape{
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    width: 50px;
    height: 50px; 
    transform: translate(-25px, -25px);
    fill: url(#Gradient1);
}

@include mobile-only;
@include tablet-only;
@include desktop-only;
@include desktop-large-only;