/* Section : Réservation */
section.reservation {
    text-align: center;
    padding: 40px 0;
    background: #F5F5F5;

    &>h2 {
        padding: 0 60px; 
    }
}

section.fonctionnement, section.restaurants {
    padding: 50px 20px;
}


/* Section : Restaurant */
section.restaurants {
    background: #F8F8F8;

    &>h2 {
        padding: 4px 0;
    }
}

button#explore_restaurants {
    position: relative;
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(180deg, var(--second) 0%, var(--primary) 100%);
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%);    
    margin: 15px 0;    
    transition: 0.5s;
    overflow: hidden;    
    cursor: pointer;

    &>h3 {
        position: relative;             /* Permet de conserver le texte du bouton au premier plan */
        margin: 0;
        font-size: 1.2em;
        letter-spacing: .06em;
        z-index: 100;
        color: #fff;    
    }

    & span{
        position: absolute;
    }

    &:hover span:nth-child(4) {
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgb(111, 11, 131), rgb(102, 102, 161));
        animation: animate4 1s linear ;
        animation-fill-mode: forwards;      /* En fin d'animation, reste sur le style défini à 100% (ne revient pas à 0%) */
        
        /* animation-delay: 0.75s; */
    }
    
    @keyframes animate4{
        0%        { top: 100%;  }
        50%, 100% { top: 0%; }
    }
}

/* Sections {communs} */
section {
    &>h2 {
        margin-bottom: 25px;
        font-size: 1.6em;
        font-weight: 900;
        text-shadow: 1px 0 0 black;
        letter-spacing: .05rem;
    }

    &>h3 {
        font-weight: normal;
    }
}

/* Miniatures d'images */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.fBlock {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;

    &:last-child {
        margin-bottom: 20px;
    }

    &>h3 {
        position: relative;
        width: 100%;    
        height: 100%;
        margin: 0 10px;
        padding: 20px;
        border-radius: 20px;
        background: #F8F8F8;
        box-shadow: 1px 1px 10px lightgrey;
        font-size: 1.1em;

        &>a {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 50%;
            transform: translate(-35px, -50%);   
            padding: 16px 14px 12px 14px;
            border-radius: 50%;
            background: var(--primary);
            color: #fff;
            width: 6px;
            height: 6px;     
            border: 1px solid;
            font-size: 0.8em;
            font-weight: 100;    
        }
    }

    & i {
        padding: 0 20px; 
        font-size: 1.2em;
        color: dimgray;
    }
}

.cards {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    & a.card {
        position: relative; 
        
        &>.wrapper {      
            display: flex; 
            flex-direction: column; 
            width: 100%; 
            height: 23vh; 
            border-radius: 10px 10px 0 0;
            box-shadow: 0px 0px 8px #999;
            overflow: hidden;

            & img { 
                object-fit: cover;
                height: 100%;
                cursor: pointer;
            }    
            
            &>h3 { 
                position: absolute;
                padding: 8px 12px;
                border-radius: 3px;
                background: rgb(112, 214, 189);
                color: rgb(56, 110, 56);
                font-size: 0.9em;
                right: 15px;
                cursor:none;
            }
        }        
    }    
}

.informations { 
    position: relative; 
    display: flex;
    padding: 20px 10px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 8px #999;
    overflow: hidden;

    &>.info {
        width: 100%;

        &>h2 { 
            font-size: 1.2em; 
            color: #000; 
            font-weight: 900;
            text-shadow: 0 0 0.5px dimgrey;
            text-overflow: ellipsis; 
            overflow-x: clip; 

            &:hover { 
                text-decoration: underline 
            }
        }
        &>h3 { 
            font-size: 1.1em; 
            font-weight: 100;
            color: #000; 
            margin: 5px 0 0 0;

            &:hover { 
                text-decoration: underline 
            }
        }
    }
}

.heart {
    align-self: center;
    padding: 0 15px;

    &>i {
        font-size: 1.8em;
        font-weight: 100;       /* N'affiche que la bordure du coeur */
        cursor: pointer;
    
        &:hover {
            font-weight: 600;       /* Permet le background-color complet du coeur */
            color: var(--primary);    
        }
    }
}



/* Animation au survol des Images (très léger zoom) */
.pulse:hover { animation: pulse 1s linear }
@keyframes pulse {
    0% { transform:scale(1.0); }   
    50% { transform:scale(1.15); }    
    100% { transform:scale(1.0); }   
}

/* Responsive module ---------------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;

        & .fBlock {
            width: calc((100% - 10px)/2);
        }
    }
    
    .cards {
        flex-direction: row;

        & a.card {
            width: calc((100% - 20px)/2);
        }
    }
    
}
@media screen and (min-width: 992px) {
    .container .fBlock {
        width: calc((100% - 20px)/3);
    }
}
/* ---------------------------------------------------------------------------------------------------- */