$colors: (
    noir: #000,
    primary: #9356DC,
    second: #FF79DA,
    third: #99E2D0
);

$breakpoints: (
    mobile: 360px,
    tablet: 768px,
    desktop: 992px,
    super-desktop: 1200px
);

$r_paddingLR : 15px;